@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info">
            <h3>Transaction Response</h3>

            <p>@Html.Raw(ViewBag.Response)</p>
        </div>
    </div>
</div>